{% extends "padre.html" %}
{% load static % }
{% block contenido %}

<br>
<br>





<div class="container text-center">
    <h1>Detalle del Usuario</h1>
</div>

<br>
<!--ver listaamplificadores-->
<div class="container text-center">
    <div class="row">
            
            <div class="col-sm-12 align-items-center">

                    <p>Id: <i> {{ usuario.id }}</i></p>
                    <p>Nombre: <i> {{ usuario.nombre }}</i></p>
                    <p>Apellido: <i> {{ usuario.apellido }}</i></p> 
                    <p>Email: <i> {{ usuario.email }}</i></p> 
                    <p>Contraseña: <i> {{ usuario.contraseña }}</i></p> 

                

            </div>

            <br>
            <br>
           
                
                </div>
            </div>
            <br>
    </div>
</div>

{% endblock %}