{% extends "padre.html" %}
{% load static % }
{% block contenido %}

<br>
<br>

<div class="container text-center">
    <h1>Nuevo Usuario</h1>
</div>

<form id="login-form" style=" width: 50vw; margin-left : 20vw;" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <br>
    <div class="container text-center">
    <button type="submit" class="btn btn-primary text-center">Guardar</button>
    </div>
</form>
{% endblock contenido %}

div class="container">


</div>